:root {
	display: flex;
	flex-direction: column;
	align-items: center;

	/*height: 100%;
	background-image: url('./img/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;*/
	background-color: rgb(13,33,57);
}

h1 {
	color: white;
	font-weight: lighter;
}